*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root{
    --primary: #CB899D;
    --secondary: #699C86;
    --terciary: #CFDB93;
}

/*------------------------------Global Animations------------------------------------------*/
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleButton {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/*------------------------------Navbar Sticky and animation in scroll------------------------------------------*/
nav {
    transition: background-color 0.3s ease-in-out;
    background-color: var(--secondary);
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: flex-start;
    padding: 0 10px;
}

nav.scrolled {
    background-color: #699c8696;
}

nav:hover{
    background-color: var(--secondary);
}

.logo{
    background-image: url(img/yoga.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    text-align: center;
    margin-bottom: 0.5rem;
}

/*--------------- Animation Fade-in in head and paragraph ----------------*/

h1, h2, h3, p, table, form, .fieldsetEdit, footer {
    animation: fadeIn 1s ease-in-out;
}

/*--------------- Hover efect in buttons ----------------------*/

button, .btnEdit, .btnEliminar {
    transition: transform 0.2s ease-in-out, background-color 0.3s ease-in-out;
}

button:hover, .btnEdit:hover, .btnEliminar:hover {
    animation: scaleButton 0.2s alternate ease-in-out;
    background-color: var(--secondary);
}

/*--------------------- Captcha animation --------------------------*/

#mensajeCaptcha {
    animation: blink 1.5s infinite;
}


body{
    background-image: linear-gradient(to bottom, #D4E2DE, #FFF9F0);;
}

h1, h2, h3, table, form, .fieldsetEdit, footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: none;
}

h1,
h2,
h3 {
    font-weight: bolder;
    font-size: 100%;
    text-align: center;
}

header{
    background-image: url(img/portada.jpg);
    background-size: cover;
    width: 100%;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
}

header img{
    position: absolute;
    top: 20rem;
    right: 59rem;
    width: 5rem;
}

footer h3{
    color: var(--primary);
}

p {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

aside {
    text-align: center;
}


nav {
    margin-top: 30px;
    margin-left: 80px;
    position: sticky;
    top: 0;
}

/*-------------------- Nav -------------------*/

ul.barra_nav {
    display: none;
    flex-direction: column;
    margin: 0.5rem;
}

.barra_nav li:hover{
    transform: scale(1.1);
}

ul.barra_nav.show, .menu {
    display: flex;
}

nav ul li {
    margin: 2%;
}

a {
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100%;
    color: rgb(136, 157, 16);
}

.descripcionSitio img {
    display: none;
}

/*---------------- Table -------------------*/

table p {
    font-size: 70%;
    text-align: justify;
}

thead {
    font-weight: bolder;
    text-transform: capitalize;
    background-color: var(--terciary);
}

table td {
    border: solid 1px;
    background-color: white;
    border-color: var(--secondary);
    font-size: 1rem;
}


/*----------------- Form ----------------*/

form {
    font-size: 100%;
    text-align: center;

}

form .formulario {
    background-color: rgba(82, 121, 204, 0.178);
    margin: auto;
    text-align: left;
}

.captcha {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #699c862b;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-top: 2%;
    gap: 1rem;
}

#textoCaptcha{
    background-color: #699C86;
    padding: 0.3rem;
}

#mensajeCaptcha{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    background-color: var(--terciary);
    padding: 0.2rem;
    border-radius: 0.2rem;
    font-weight: bolder;
}
.oculto {
    display: none;
}

fieldset {
    border: solid, 1px;
    text-align: justify;
    font-size: small;
}

.span{
    border: none;
    background-color: transparent;
    padding: 0.2rem;
}

.btnEdit{
    background-color: green;
    color: white;
}

.btnEliminar{
    background-color: red;
    color: white
}

.admin{
    padding: 2rem;
    margin: 0;
    background-color: #699c862b;
}
/*----------------------- Footer ------------------*/

footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 80%;
    font-style: oblique;
    text-align: center;
    color: rgba(12, 11, 11, 0.555);
    background-color: var(--secondary);
    padding-top: 2rem;
}

footer p {
    text-align: center;
}

li {
    list-style: none;
}

/*------------------ Screen larger than 600px --------------------- */

@media only screen and (min-width: 600px) {
    body{
        margin: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    h1, h2, h3, form{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    h1 {
        text-transform: capitalize;
        font-size: 3rem;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
        color: var(--secondary)
    }


    h3 {
        text-transform: none;
        font-size: 1.5rem;
        text-align: center;
        color: var(--primary)
    }

    p {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        text-align: justify;
        font-size: 100%;
        line-height: 200%;
        color: rgba(31, 31, 31, 0.855);
    }

    article, section{
        margin-left: 5%;
        margin-right: 5%;
    }

    li a {
        text-decoration: none;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
        font-size: 1.2rem;
        color: var(--terciary);
        padding: 0.2rem;
    }

    /*------------------------- Header  --------------------------*/

    header {
        background-image: url(img/portada.jpg);
        background-size: cover;
        width: 100%;
        height: 50rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0%;
    }

    header.paginasSecundarias{
        width: 0;
        height: 0;
        background: none;
    }
    /*------------------------------Barra NAV------------------------------------------*/

    header h1{
        position: absolute;
        top: 15rem;
        right: 50rem;
    }

    nav {
        height: 3rem;
        background-color: var(--primary); 
        text-align: center; 
        margin: 0%;
        padding-top: 0.5rem;
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
    }

    nav img{
        position: absolute;
        top: 0rem;
        right: 85rem;
    }
    
    nav ul {
        list-style: none; 
        margin: 0;
        padding: 0;
    }
    
    nav li {
        display: inline;
        margin: 0 10px;
    }
    

    ul.barra_nav {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
    }

    .main {
        display: block;
        flex-direction: row;
        align-content: space-around;
    }


    /*------------------- Section --------------------------*/
    .descripcionSitio img {
        display: block;
    }

    .descripcionSitio {
        display: flex;
        flex-direction: row;
        align-content: space-around;
    }

    /*------------------- Table ------------------------*/
    table {
        margin: auto;
        margin-bottom: 3%;
        width: 100%;
        height: 20%;
        text-align: center;
    }

    tr td {
        font-size: 1.2rem;
    }

    form {
        margin-bottom: 4%;
        margin-left: 20%;
        margin-right: 20%;
    }

    /*------------------ Form --------------------*/
    .formulario {
        margin: 10px;
        padding: 0.5rem;
        padding-left: 1rem;
        font-weight: bold;
    }
    

    footer {
        margin-bottom: 0.2rem;
        margin: 0.2rem;
    }

    li {
        list-style: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        size: 20%;
        background-color: transparent;
        border: 10 px;
        margin: 10px;
        border-style: none;
        text-transform: capitalize;
        text-align: center;
    }
    .botonera{
        margin-top: 2%;
    }

    /*---------------- Sidebar ---------------------*/
    .actividades {
        display: flex;
        flex-direction: row;
        margin: 2%;
        text-align: center;
    }

    /*---------------- Footer --------------------*/
    footer {
        margin-top: 5%;
        padding-bottom: 2rem;
    }

    footer p {
        margin: auto;
    }
}